<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/NAMESPACE/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="dynamics.dev@transpo-group.com" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>
